.container
  margin-top: 4rem
  max-width: 1200px
  padding-inline: 1rem
  margin-inline: auto
  
.repo
  font-size: 2rem
  
  span
    color: darkblue
  
.header
  display: flex
  justify-content: space-between